.center{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mat-table {
  width: 95%;
  max-width: 80rem;
}

.mat-column-testName {
  color: #412969;
  font-size: 1.1rem;
}

.mat-column-details {
  width: 5rem;
  text-align: center;
}

.mat-column-points, .mat-column-startTime{
  text-align: center;
}
.mat-column-duration {
  text-align: right;
  padding-right: 4rem;
}
.mat-icon {
  /* color: #7256a3; */
  font-size: 1rem;
  vertical-align: top;
}

.green {
  color: #32a057;
}