<div class='container'>
  <div class='node-actions-container'>
    <div class='node-actions'>
      <button mat-button style="background-color: #5684a321; color: #5684a3" 
      (click)="centerNetwork()">
        <mat-icon class="material-icons-outlined">center_focus_strong</mat-icon>
        Recenter
      </button>
    </div>
    <div class='node-actions'>
      <button mat-button style="background-color: #5ca35321; color: #5ca356" 
      (click)="createNewNode()">
        <mat-icon class="material-icons-outlined">add</mat-icon>
        Add Node
      </button>
    </div>
    <div class='node-actions'>
      <button mat-button class='btn-yellow'
      (click)="editNode()"
      [disabled]="selectedNode === undefined">
        <mat-icon class="material-icons-outlined">edit</mat-icon>
        <!-- Edit Node -->
      </button>
    </div>
    <div class='node-actions'>
      <button mat-button class='btn-red'
      (click)="deleteNode()"
      [disabled]="selectedNode === undefined">
        <mat-icon class="material-icons-outlined">delete</mat-icon>
        <!-- Delete Node -->
      </button>
    </div>

  </div>

  <div id="mynetwork"></div>
</div>