.container {
  padding: 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; */
}
#mynetwork {
  height: 70vh;
  border: 1px solid #7256a33f;
  /* background-color: #7256a3; */
  border-radius: 1rem;
}

.add-new-node {
  padding-bottom: 0.5rem;
}
.node-actions {
  padding-bottom: 2rem;
}