.test-card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  mat-card {
    width: 800px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .qdialog {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .custom-modalbox {
        padding: 0;   
  }
  
  table {
    width: 100%;
  }
  
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .inner-table {
    width: 100%;
  }
  
  .inner-table mat-form-field {
    margin-top: 15px;
    width: 100%;
  }

  .container {
    padding: 1rem;
  }
  #mynetwork {
    height: 70vh;
    max-height: 28rem;
    border: 1px solid #7256a33f;
    /* background-color: #7256a3; */
    border-radius: 1rem;
  }
  .node-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .node-actions {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }
  .btn-red {
    background-color: #a3565321; 
    color: #a35656
  }
  .btn-yellow {
    background-color: #d5df4321; 
    color: #929c00
  }
  .btn-blue {
    background-color: #5684a321; 
    color: #5684a3
  }
  .btn-green {
    background-color: #5ca35321; 
    color: #5ca356
  }
  
  .real-domain-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
  }