<div class="test-card">
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>
                {{teacherName}}
            </mat-card-subtitle>
            <mat-card-title>
                {{test.name}}
            </mat-card-title>
            <mat-card-subtitle>
                {{test.topic}}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>Max points: {{test.maxPoints}}</p>

            <table mat-table [dataSource]="questions" class="mat-elevation-z8" multiTemplateDataRows>
                
                <ng-container matColumnDef="text">
                    <th mat-header-cell *matHeaderCellDef> Question </th>
                    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
                </ng-container>
                
                <ng-container matColumnDef="points">
                    <th mat-header-cell *matHeaderCellDef> Points </th>
                    <td mat-cell *matCellDef="let element"> {{element.maxPoints}} </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail" *ngIf="element.possibleAnswers.length" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
                                <table #innerTables mat-table [dataSource]="element.possibleAnswers">
                                    <ng-container matColumnDef="answer">
                                        <th mat-header-cell *matHeaderCellDef> Answer </th>
                                        <td mat-cell *matCellDef="let answer"> {{answer}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="correct">
                                        <th mat-header-cell *matHeaderCellDef> Correct </th>
                                        <td mat-cell *matCellDef="let answer"> {{correct(element, answer)}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="toggleRow(row)"
                [class.example-element-row]="row.possibleAnswers.length"
	            [class.example-expanded-row]="expandedElement === row">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
