<div class='actions'>
  <mat-card id='new-test'>
    <mat-card-header>
      <mat-card-title>
        Create Test
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="testForm">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Test name</mat-label>
          <input matInput placeholder="Test name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill" style="padding-right: 15px;">
          <mat-label>Domain</mat-label>
          <mat-select 
          (selectionChange)="onDomainChange($event)" formControlName="selectedDomain" name="domain"
            [disabled]="questions.length > 0" required>
            <mat-option *ngFor="let domain of domains" [value]="domain.id">
              {{domain.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class='div1'>
          <mat-label>Max Points: {{maxPoints}}</mat-label>
        </div>
      </form>

      <!-- question graph editor -->
      <div class="question-graph-editor">
        <button mat-button (click)="questionDialog()" class="btn-green"
          [disabled]="!testForm.controls['selectedDomain'].value">
          <mat-icon class="material-icons-outlined">add</mat-icon>
          Add question
        </button>
        <app-graph-question-editor></app-graph-question-editor>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <mat-error *ngIf=submitionError style="margin-bottom: 10px;">
        Error. Unable to create test.
      </mat-error>
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="saveTest()"
        [disabled]="testForm.invalid || questions.length == 0">Save</button>
    </mat-card-actions>
  </mat-card>




</div>