<div class='actions'>
  <button mat-button style="font-size: large;background-color: #5ca35321; color: #5ca356;margin: 1rem;"
    (click)="createNewDomain()">
    <mat-icon class="material-icons-outlined">add</mat-icon>
    Add Domain
  </button>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom; color: #7256a3">scatter_plot</mat-icon>
        <span> HTML </span>
      </mat-card-title>
      <button mat-icon-button class='edit-btn'>
        <mat-icon class="material-icons-outlined">edit</mat-icon>
      </button>
      <button mat-icon-button class='delete-btn'>
        <mat-icon class="material-icons-outlined">delete</mat-icon>
      </button>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom">scatter_plot</mat-icon>
        JavaScript
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom">scatter_plot</mat-icon>
        Css
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom">scatter_plot</mat-icon>
        Python
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom">scatter_plot</mat-icon>
        WebAssembly
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom">scatter_plot</mat-icon>
        Node.js
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom">scatter_plot</mat-icon>
        Swift
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom">scatter_plot</mat-icon>
        Go
      </mat-card-title>
    </mat-card-header>
  </mat-card>

</div>