

  .test-card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  mat-card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .full-width {
    width: 100%;
  }



  

  