<div class="test-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <span style="font-size: 2.5rem;">{{test?.name}}</span>
            </mat-card-title>
            <mat-card-subtitle>
                <mat-icon class="material-icons-outlined">person</mat-icon>
                {{test?.createdBy?.displayName}}
            </mat-card-subtitle>
            <mat-card-subtitle>
                <mat-icon class="material-icons-outlined">scatter_plot </mat-icon>
                {{test?.domainName}}
            </mat-card-subtitle>
            <mat-card-subtitle>
                <mat-icon class="material-icons-outlined">functions </mat-icon>
                Max points: {{test?.maxPoints}}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <button id="start" mat-raised-button color="primary" (click)="start()">
                Start
                <mat-icon class="material-icons-outlined" style="color: white;">arrow_upward</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>



</div>