<!-- user info -->
<div style="padding: 1rem;">
  <div style="font-size: 2rem; color: #220e46">
    <mat-icon class="material-icons-filled">person</mat-icon>
    {{(authService.user)?.displayName}}
  </div>
  <span style=" font-size: large; padding-left: 2rem; color: #7256a3">
    {{(authService.user)?.role}}
  </span>
</div>

<div class='actions'>
  <!-- add test actions -->
  <mat-card routerLink="/add-test">
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-filled" style="vertical-align: bottom">create</mat-icon>
        New Test
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Create new test for students.
    </mat-card-content>
  </mat-card>
</div>