<!-- user info -->
<div style="padding: 1rem;">
  <div style="font-size: 2rem; color: #220e46">
    <mat-icon class="material-icons-filled">person</mat-icon>
    {{(authService.user$ |async)?.displayName }}
  </div>
  <span style=" font-size: large; padding-left: 2rem; color: #7256a3">
    {{(authService.user$ | async)?.role}}
  </span>
</div>

<div class='actions'>
  <!-- add test actions -->
  <mat-card routerLink="/add-test">
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-filled" style="vertical-align: bottom">create</mat-icon>
        New Test
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Create new test for students.
    </mat-card-content>
  </mat-card>
  <!-- get my tests -->
  <mat-card routerLink="/my-tests">
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom">summarize</mat-icon>
        My Tests
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      All tests that you've created.
    </mat-card-content>
  </mat-card>

  <!-- graph editor -->
  <mat-card routerLink="/graph-editor">
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="material-icons-outlined" style="vertical-align: bottom">scatter_plot</mat-icon>
        Domains
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Graph editor for domains and problems.
    </mat-card-content>
  </mat-card>
</div>