
  .question-card {
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  mat-card {
    max-width: 50rem;
    width: 50rem;
    min-width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 14rem;
    padding-top: 2rem;
  }

  mat-card-content {
    width: 100%;
  }

  .finish {
    margin: 10px;
  }

  
  .full-width {
    width: 100%;
  }

  .test {
    background-color: yellow;
  }


  
.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
  gap: 2rem;
}
  