
  .question-card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  mat-card {
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  mat-card-content {
    width: 100%;
  }

  .finish {
    margin: 10px;
  }

  
  .full-width {
    width: 100%;
  }

  .test {
    background-color: yellow;
  }


  

  