.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
}

.btn-green {
  background-color: #5ca35321; 
  color: #5ca356
}
#realDomainNetwork {
  height: 70vh;
  max-height: 30rem;
  border: 1px solid #56a3833f;
  /* background-color: #7256a3; */
  border-radius: 1rem;
}