<mat-toolbar color="primary" [ngClass]="{'transparent' : route.children.length === 0}">
  <mat-toolbar-row>
    <a href="/"> 
      <span [ngClass]="{'titleSmall': innerWidth < 450}"> 
        {{title}} 
      </span> 
    </a>
    <span class="menu-spacer"></span>

    <div *ngIf="auth.user; else login">
      <button mat-button (click)="auth.logout()">
        <span *ngIf="innerWidth > 450">Log Out</span> 
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <ng-template #login>
      <button mat-button routerLink="/login">
        <mat-icon>login</mat-icon>
        Log In
      </button>
      <button mat-button routerLink="/signup">Sign Up</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>