<div class="container">

  <div style="display: flex; align-items: flex-end; flex-direction: column; align-items: flex-end; padding: 2rem;"> 
    <h3>History</h3>
    <div style="display: flex;align-items: flex-end; ">
      real & expected domain
      <mat-icon style="color: #f7cf6f; font-size: 2.1rem;" class="material-icons-outlined">horizontal_rule</mat-icon>
    </div>

    <div style="display: flex; align-items: flex-end;">
      real domain
      <mat-icon style="color: #8ee2b9; font-size: 2.1rem" class="material-icons-outlined">horizontal_rule</mat-icon>
    </div>

    <div style="display: flex; align-items: flex-end;">
      expected domain
      <mat-icon style="color: #bca3ee; font-size: 2.1rem" class="material-icons-outlined">horizontal_rule</mat-icon>
    </div>
  </div>

  <div id="realAndExpectedDomainNetwork"></div>
</div>