.test-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.full-width {
  width: 100%;
}

.mat-table {
  width: 23rem;
  margin: auto;
  
}

.passed {
  background-color: rgb(50, 153, 55);
  border-radius: 0.5rem;
  padding: 0.3rem;
  color: white;
  font-size: larger;
}

.failed {
  background-color: rgb(167, 55, 55);
  border-radius: 0.5rem;
  padding: 0.3rem;
  color: white;
  font-size: larger;
}



.result-div {
  margin-bottom: 15px;
  padding-bottom: 20px;
}


  

  